.floor-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 290px);
  background-color: $color-white;
  border-radius: 8px;
  box-shadow: 0px 5px 0 rgba(1, 18, 34, 0.15);
  min-height: 420px;
}

.map-shadow {
  box-shadow: 0px 5px 0 rgba(1, 18, 34, 0.15)
}

.floor-wrapper {
  position: relative;
  height: calc(100vh - 197px);
}