.tabs-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: $color-white;
  border-bottom: $border-line;
  height: 56px;

  & .tabs-header-tab {
    height: 100%;
    border: 0;
    padding: 0;
    text-transform: capitalize;
    font-size: $font-size-rem-14px;
    display: flex;
    justify-content: center;
    color: $color-ink-55;

    &.active {
      box-shadow: inset 0 -3px 0 $color-primary;
      border: 0;
      color: $color-primary;
    }
  }
}

.tabs .tabs-content {
  min-height: calc(100vh - 106px);

  & .tabs-content-tab.ph {
    min-height: calc(100vh - 106px);
  }
}

.f-tab .tabs-header [data-block*="TabsHeaderItem"] {
  flex: 1;
}