.time-picker {
  color: $color-primary;
  border: 1px solid $color-primary-30;
  background-color: $color-white;
  box-shadow: 0px 3px 9px rgba(1, 18, 34, 0.05);

  &.is--selected {
    color: $color-white;
    border: 1px solid $color-primary;
    background-color: $color-primary;
  }
}