@charset "UTF-8";
/*Màn hình to nhất*/
.bcth {
  font-weight: bold;
}

.block1 {
  min-height: 100vh;
  position: relative;
}

.block1__content {
  margin: 0 auto calc(90px + 8vh) auto;
  max-width: 1600px;
  width: 100%;
  padding: 15% 0 0 0;
  color: #fff;
}

.block1__content__text {
  font-weight: bold;
  margin: 0 50% 0 10%;
  padding-bottom: 2%;
}

.block1__content__button {
  margin: 0 50% 0 10%;
}

.block1__content__button .btn {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.bgv {
  height: auto;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: auto;
  z-index: -1;
  aspect-ratio: auto 1920 / 1080;
}

.block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.block2__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  position: relative;
  height: Fill;
  width: 50%;
  padding: 2% 2% 2% 2%;
}

.block2 .block2__container .btn {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

.block2__img {
  height: Fill;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block3 {
  text-align: center;
}

.block3__container1 {
  margin-bottom: 5%;
  margin-top: 5%;
  padding: 0 5% 0 5%;
  text-align: center;
}

.block3__container1__text1, .block3__container1__text2 {
  color: #68778A;
  text-align: center;
}

.block3__container2 {
  padding-left: 2%;
  text-align: left;
}

.block3__container3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5%;
}

.block3__container3__box1 {
  display: block;
  width: 30%;
}

.block3__container3__box1__1, .block3__container3__box1__2 {
  padding: 2% 2% 2% 2%;
  text-align: left;
}

.block3__container3__box2 {
  width: 70%;
}

/* Accelerators - Continue with Google */
.g-signin {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--color-neutral-0);
  border: var(--border-size-s) solid var(--color-neutral-6);
  border-radius: var(--border-radius-soft);
  color: var(--color-neutral-7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: var(--space-base);
  width: 100%;
}

.g-signin:hover {
  cursor: pointer;
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.g-signin span.icon img {
  vertical-align: middle;
}

.g-signin span.buttonText {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: var(--font-semi-bold);
  font-size: var(--font-size-s);
  line-height: 1;
  padding-left: var(--space-base);
  vertical-align: middle;
}

.continue-with-google a {
  color: var(--color-neutral-7);
  text-decoration: underline;
}

.continue-with-google a:hover, .continue-with-google a:visited, .continue-with-google a:focus {
  color: var(--color-neutral-7);
}

/* Accelerators - Continue with Sample User */
.continue-with-sample-user .btn {
  border: var(--border-size-s) solid var(--color-neutral-6);
  color: var(--color-neutral-7);
}

@media (min-width: 1601px) {
  .bcth {
    font-size: 30px;
  }
  .bct {
    font-size: 24px;
  }
  .bctn {
    font-size: 20px;
  }
}

@media (min-width: 1024px) and (max-width: 1600px) {
  .block1__content {
    margin: 22px 0 59px;
  }
  .bcth {
    font-size: 24px;
  }
  .bct {
    font-size: 20px;
  }
  .bctn {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .block1__content {
    margin: 22px 0 59px;
  }
  .bcth {
    font-size: 20px;
  }
  .bct {
    font-size: 16px;
  }
  .bctn {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .block1__content {
    padding: 35% 5% 0 5%;
  }
  .block2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .block2__container {
    width: 100%;
  }
  .bcth {
    font-size: 20px;
  }
  .bct {
    font-size: 16px;
  }
  .bctn {
    font-size: 14px;
  }
}

/*Màn hình to trung*/
/*Màn hình bé vừa*/
/*Màn hình bé nhất*/
/*# sourceMappingURL=main.css.map */